body {
  background-image: url("https://wallpaperaccess.com/full/418495.jpg");
  background-size: stretch;
  background-repeat: no-repeat;
}

header {
  display: flex;
  justify-content: center;
  align-items: center;
  box-sizing: border-box;
  width: 100%;
  height: 110px;
  /* left: 4px; */
  /* top: 18px; */
  background: hsla(190, 100%, 50%, 0.421);
  border: 1px solid #000000;
  box-shadow: 3px 0px 5px 3px rgba(255, 60, 60, 0.5);
  header h1 {
    font-size: 24px;
    color: #2433ff;
    font-style: italic;
    font-family: "Franklin Gothic Medium";
  }
}

.locationInput {
  box-sizing: border-box;
  /* position: fixed; */
  display: flex;
  justify-content: center;
  justify-content: space-around;
  align-items: center;

  width: 100%;
  height: 70px;
  left: 0px;
  top: 0px;
  background: #fa212183;
  border: 1px solid #f6fba6;
  box-shadow: 3px 0px 5px 3px rgba(183, 21, 21, 0.5);
}

#weather {
  display: flex;
  justify-content: center;
  align-content: center;
}
